{% extends 'vendas/base.html' %}

{% block titulo %}Criar Conta{% endblock %}

{% block conteudo %}
<div class=" container my-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
             <div class="shadow p-4 bg-light rounded text-center">
            <h2 class="mb-4">Crie sua conta</h2>
           <form method="POST">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Erro ao criar conta:</strong>
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}
                    <br>{{ field.label }}: {{ field.errors|striptags }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {{ form.as_p }}

    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
            </div>
        </div>
    </div>
</div>
{% endblock %}